.root {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.trigger {
  height: 40px;
  padding: 9px 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;

  border-radius: 8px;
  transition: all 0.3s ease;
  border: 1px solid transparent;

  &.placeholder {
    color: var(--greyOne);
  }

  &[data-state='open'] .arrow {
    transform: scaleY(-1);
  }
}

.default {
  border-color: var(--greyTwo);

  &[data-state='open'],
  &:focus-visible {
    border-color: var(--greyTwo);
  }
}

// .error {
//   color: var(--Text-Red);
//   border-color: var(--Text-Red);
//   background: var(--Background-Red);

//   &:focus-visible {
//     border-color: var(--Text-Red);
//   }
// }

.arrow {
  transition: all 0.3s ease;
  svg {
    display: block;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.popover {
  border-radius: 8px;
  // box-shadow: var(--Shadow);
  box-shadow: 0px 4px 20px 0px #0000001a;

  background-color: var(--card);
  // z-index: var(--Popover-Z-Index);
  z-index: 999;

  &:not(.noPadding) {
    overflow: hidden;
    padding: 8px;

    .content {
      padding-right: 4px;
      margin-right: -4px;
    }
  }

  &[data-state='open'] {
    animation: fadeIn 0.3s ease;
  }

  &[data-state='closed'] {
    animation: fadeOut 0.3s ease;
  }

  &.fullWidth {
    min-width: var(--radix-popover-trigger-width);
  }
}

.content {
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.item {
  outline: none;
  padding: 8px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  text-align: left;
  border-radius: 8px;
  transition: all 0.3s ease;

  &:hover,
  &:focus-visible {
    // background: var(--Black-5);
  }
}

.itemText {
  flex: 1 1 auto;
}

.icon {
  color: transparent;
  transition: all 0.3s ease;

  // &.active {
  //   color: var(--Text-Primary);
  // }

  // &.multi {
  //   border-radius: 4px;
  //   border: 1px solid var(--Black-20);

  //   &.active {
  //     border: none;
  //     color: var(--Icon-Primary);
  //   }
  // }
}
