.root {
  display: flex;
  gap: 12px;
  padding: 16px 0;
  border-bottom: 1px solid var(--lightGrey);
  width: 100%;

  border-radius: 0;

  svg {
    width: 16px;
    height: 16px;
  }
}

.mainBlock {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.rightBlock {
  display: flex;
  color: var(--greyOne);
  height: fit-content;
  align-items: center;
  gap: 4px;
}
