:root {
  --nativeWhite: rgba(255, 255, 255, 1);
  --nativeBlack: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --card: rgba(255, 255, 255, 1);
  --orange: rgba(255, 181, 69, 1);
  --greyOne: rgba(170, 170, 170, 1);
  --greyTwo: rgba(204, 204, 204, 1);
  --lightGrey: rgba(245, 245, 245, 1);
  --red: rgba(225, 55, 45, 1);
  --green: rgba(0, 148, 56, 1);
  --black-6: rgba(0, 0, 0, 0.06);
  --overlay: rgba(28, 28, 28, 0.9);
}
