.root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loader {
  animation: spin 1s linear infinite;
  color: var(--black);
  width: 16px;
  height: 16px;

  &.big {
    width: 32px;
    height: 32px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
