.root {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.textArea {
  resize: none;
  border: 1px solid var(--lightGrey);
  height: 112px;
  font-size: 16px;
  padding: 16px;
  border-radius: 12px;
  color: var(--black);

  &:focus {
    border: 1px solid var(--black);
  }
}

.description {
  display: flex;
  justify-content: flex-end;
}

.error {
  border: 1px solid var(--red);
}
