.verticalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.vertical {
  height: 100%;
  width: 1px;
  background: var(--lightGrey);
}

.horizontal {
  height: 1px;
  min-height: 1px;
  width: 100%;
  background: var(--lightGrey);
}
